[Desktop Entry]
Name=Slingshot
Name[xx]=xxslingshotxx
Exec=slingshot
Icon=slingshot
Type=Application
GenericName=2D space shooting game with gravity
GenericName[de]=2D-Weltraum-Shooter mit Schwerkraft
GenericName[fr]=Jeu d'espace 2D avec gravité
Categories=Game;StrategyGame;
